.headerCont {
    height: 3rem;
    width: 100vw;
    position: fixed;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    overflow-y: hidden;
}

.menuToggle {
    display: none;
    position: fixed;
    right: 1rem;
    z-index: 2000;
    cursor: pointer;
}

.logo {
    font-size: 1rem;
    font-weight: normal;
}

.logo:hover {
    transform: scale(105%);
}

.navCont {
    position: fixed;
    right: 1rem;
    display: flex;
    gap: .75rem;
}

.green {
    color: #9cc66d;
    cursor: default;
}

p {
    cursor: default;
}

.sidebarCont {
    position: fixed;
    top: 0rem;
    left: 0;
    width: 20%;
    height: 100vh;
    padding: 1rem;
    overflow-y: hidden;
    z-index: 2;
}

.infoText {
    border-bottom: 1px solid #9cc66d;
}

.activeMenuItem {
    color: #81bcff;
}

.menuItem:hover,
.activeMenuItem:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #81bcff;
    text-underline-offset: 3px;
}



.menuOverlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    transition: max-height 0.5s ease;
    background: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 1005;
    transform: translateX(100%);
    transition: transform 0.15s;
    min-height: 100vh;
}

.menuOverlay.menuOpen {
    min-height: 100vh;
    transform: translateX(0);
}

.menuCont {
    padding: 2rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}












@media (max-width: 1150px) {
    .sidebarCont {
        width: 30%;
    }

    .mainContent {
        width: 60%;
    }

    .mobile-center {
        text-align: left;
    }
}

@media (max-width: 728px) {
    .sidebarCont {
        width: 70%;
        left: 15%;
        top: 3.5rem;
    }

    .mobile-center {
        text-align: center;
    }

    .logo {
        display: block;
    }

    .mainContent {
        width: 100%;
    }
}

@media (max-width: 558px) {
    .navCont {
        display: none;
    }
    .menuToggle {
    display: block; 
  }
}