.pageCont {
    padding-top: 14px;
    width: 100%;
}

.mainContent {
    background-color: white;
    margin-top: 34px;
    width: 100%;
    overflow-y: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.grid-bg {
    --gap: 26px;
    --line: 1px;
    --color: rgba(0, 0, 0, 0.12);

    background-image:
        linear-gradient(var(--color) var(--line), transparent var(--line)),
        linear-gradient(90deg, var(--color) var(--line), transparent var(--line));
    background-size: var(--gap) var(--gap);

    background-attachment: fixed;
    background-position: 0 0;

    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

.postsHalf {
    list-style: none;
    position: relative;
    box-sizing: border-box;
    padding: 1rem;
}

.grid-bg {
    border-right: black 1px solid;
}

.postCont {
    width: 100%;
    list-style: none;
}

.infoHalf {
    padding: 1rem;
    background-color: white;
    z-index: 1;

}








@media (min-width: 350px) {
    .postsHalf {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: masonry;
        gap: 1.5rem;
    }
}


@media (min-width: 868px) {
    .postCont {
        width: 100%;
    }

    .mainContent {
        flex-direction: row;
    }

    .postsHalf {
        box-sizing: border-box;
        width: 66%;
    }

    .infoHalf {
        width: 33%;
        position: fixed;
        right: 0;
        overflow-y: auto;
    }

    .grid-bg {
        width: 66%;
    }

    .infoHalf {
        padding-top: 0;
    }
}

@media (min-width: 1218px) {
    .postsHalf {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}